[Desktop Entry]
Type=Application
Exec=/home/simenlk/Desktop/nomouseacc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Mouse Acceleration
Name=gamerReady
Comment[en_US]=MA: -1
Comment=Wanna be a gamer? Do this.
